.header-class {
    background-color: orchid;
    text-align: center;
}
.introduction {
    font-style: italic;
}

.nav {
    color:black;
}
.menu-items {
    font-style: oblique;
    border-bottom: lightslategrey;
    text-align: left;
    text-shadow: dimgray;
}
.menu-items li img{
    max-width: 100;
    height: auto;
    display: block;
}
.opening-hours {
    font-style: italic;
    text-align: left;
}
.table { 
    font-style: italic;
    text-align: center;
}
.footer {
    background-color: orchid;
    text-align: center;
}
.menu-items1:hover {
    text-decoration:underline;
}
.menu-items2:hover {
    text-decoration: underline;
}
.menu-items3:hover {
    text-decoration: underline;
}
.menu-items4:hover {
    text-decoration: underline;
}
